ul.expmenu{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
/* expmenu */
ul.expmenu{width:170px;margin:0px auto;}
ul.expmenu li div.header{padding:8px;border-bottom:1px #fff solid;}
ul.expmenu li:last-child div.header{border-bottom:none;}
ul.expmenu li ul li {list-style:none;font-weight:900;font-size:120%;font-family: '黑体';	background-color:#ffffff;padding:8px;border-bottom:1px solid #d2c8b5;border-top:1px solid #d2c8b5;color:#000000;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.8);}
ul.expmenu li ul li:last-child{border-bottom:none;}
ul.expmenu li ul li.selected{background-color:#B0E2FF;}
ul.expmenu li ul li:hover{list-style:none;font-weight:900;font-size:140%;background-color:#F0F0F0;cursor:pointer;}
ul.expmenu div.header{
	color:#203f61;
	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.2);
	
	background:#188AE7;/* Old browsers */
/*	background:-moz-linear-gradient(top,  #188AE7 0%,#7FA7FD 100%);/* FF3.6+ */
/*	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#188AE7), color-stop(100%,#7FA7FD));/* Chrome,Safari4+ */
/*	background:-webkit-linear-gradient(top,  #188AE7 0%,#7FA7FD 100%);/* Chrome10+,Safari5.1+ */
/*	background:-o-linear-gradient(top,  #188AE7 0%#7FA7FD 100%);/* Opera 11.10+ */
/*	background:-ms-linear-gradient(top,  #188AE7 0%,#7FA7FD 100%);/* IE10+ */
/*	background:linear-gradient(to bottom, #188AE7 0%,#7FA7FD 100%);/* W3C */
/*	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#188AE7', endColorstr='#7FA7FD',GradientType=0 );/* IE6-9 */
}
ul.expmenu li div.header .label{background:no-repeat;color: #fff;/*text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);*/ font-weight:900;font-size:140%;font-family: '黑体';}
/*ul.expmenu li div.header .arrow{display:block;width:16px;height:16px;background:no-repeat center;float:right;}*/
ul.expmenu li div.header .arrow.up{background-image:url(../images/arrow_u.png);}
ul.expmenu li div.header .arrow.down{background-image:url(../images/arrow_d.png);}
ul.expmenu li .menu{display:none;}
ul.expmenu li .menu1{display:none;}
/* Mouse Events */
ul.expmenu div.header:hover{
	background:#60aded;/* Old browsers 96C4EA*/
/*	background:-moz-linear-gradient(top, #188AE7 0%, #7FA7FD 100%);/* FF3.6+ */
/*	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#188AE7), color-stop(100%,#7FA7FD));/* Chrome,Safari4+ */
/*	background:-webkit-linear-gradient(top, #188AE7 0%,#7FA7FD 100%);/* Chrome10+,Safari5.1+ */
/*	background:-o-linear-gradient(top, #188AE7 0%,#7FA7FD 100%);/* Opera 11.10+ */
/*	background:-ms-linear-gradient(top, #188AE7 0%,#7FA7FD 100%);/* IE10+ */
/*	background:linear-gradient(to bottom, #188AE7 0%,#7FA7FD 100%);/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#188AE7', endColorstr='#7FA7FD',GradientType=0 );/* IE6-9 */
	cursor:pointer;
}

ul.expmenu li ul li:not(.selected):hover{
	background:#efe8d8;/* Old browsers */
	cursor:pointer;
}
ul.expmenu li ul li:not(.selected):active{
	background:#f1f1f1;/* Old browsers */
	cursor:pointer;
}